<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- <link rel="stylesheet" href="../javaScript.js" /> -->

    <title>Messenger - Sign Up</title>
  </head>
  <body>
    <div>
      <img
        src="#"
        alt="messenger_icon"
        id="messenger_icon"
        width="300"
        height="300"
      />
    </div>

    <div>
      <h1>Sign up for new account</h1>

      <h1 style="font-size: 80px">👤</h1>
      <form id="mainForm" action="/createAccount" method="POST">
        <label for="name_user"> Full Name </label>

        <input
          type="text"
          id="name_user"
          name="name_user"
          placeholder="Full Name"
        />

        <label for="nickname"> Nickname </label>
        <input
          type="text"
          id="nickname"
          name="nickname"
          placeholder="Nickname"
        />

        <label for="password"> Password </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />
        <br />
        <br />
        <br />

        <button type="submit">Create Account</button>
      </form>
    </div>

    <div>
      <a href="../Log_in_files/signIn.php" id="CS313_assignments_btn_id">
        ⬅ Back to Sign In page
      </a>
    </div>

    <footer>
      <p style="text-align: center">
        Copyright © 2020 emiDev Inc. All rights reserved.
      </p>
    </footer>
  </body>
</html>
