<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>User found!!!</title>
  </head>

  <body>
    <h1>User found!!!</h1>
    <p>
      The user has been found successfully in the database. <br />
      The following is the info of the selected user: <br />
      Name: <%=name_user%>;<br />
      Nickname: <%=nickname%>;<br />
      Password: <%=password%>;<br />
    </p>
  </body>
</html>
